{% extends '@App/base.html.twig' %}

{% set active_item = 'profile_show' %}

{% form_theme form _self %}
    {%- block form_errors -%}
        {%- if errors|length > 0 -%}
            <div class="ui negative message">
                {%- for error in errors -%}
                    {{ error.message }}
                {%- endfor -%}
            </div>
        {%- endif -%}
    {%- endblock form_errors -%}

{% block content %}
    <div class="ui center aligned grid">
        <div class="six wide column">
            <h1 class="ui blue image header">
                <i class="blue square write icon"></i>
                <div class="content">
                    {% trans %}Changing a password{% endtrans %}
                </div>
            </h1>

            <div class="ui stacked segment">
                {{ form_start(form, {'attr': {'class': 'ui large form'}}) }}
                    <div class="field">
                        {{ form_widget(form.password, {'attr': {'placeholder': 'Current password'}}) }}
                    </div>
                    {{ form_errors(form.password) }}

                    <div class="field">
                        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'New password'}}) }}
                    </div>
                    {{ form_errors(form.plainPassword.first) }}

                    <div class="field">
                        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Repeat password'}}) }}
                    </div>
                    {{ form_errors(form.plainPassword.second) }}

                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="ui positive message">
                            {{ flash_message|trans }}
                        </div>
                    {% endfor %}

                    <input type="submit" value="{% trans %}Change password{% endtrans %}" class="ui blue fluid large button">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

