{% extends '@App/base.html.twig' %}

{% set active_item = 'null' %}

{% block content %}
    <table class="ui celled center aligned table">
        <thead class="center aligned">
        {% if is_granted('ROLE_BOSS') %}
            <tr>
                <th>{% trans %}Start date{% endtrans %}</th>
                <th>{% trans %}Cargo{% endtrans %}</th>
                <th>{% trans %}Weight{% endtrans %}</th>
                <th>{% trans %}Distance{% endtrans %}</th>
                <th>{% trans %}Screenshot{% endtrans %}</th>
                <th>{% trans %}Start date{% endtrans %}</th>
                <th>{% trans %}End date{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>

        {% else %}
            <tr>
                <th>{% trans %}Start date{% endtrans %}</th>
                <th>{% trans %}Cargo{% endtrans %}</th>
                <th>{% trans %}Weight{% endtrans %}</th>
                <th>{% trans %}Distance{% endtrans %}</th>
                <th>{% trans %}Earned money{% endtrans %}</th>
                <th>{% trans %}Screenshot{% endtrans %}</th>
                <th>{% trans %}Start city{% endtrans %}</th>
                <th>{% trans %}End city{% endtrans %}</th>
            </tr>
        {% endif %}
        </thead>
        <tbody>
        {% for transport in transports %}
            {% if is_granted('ROLE_BOSS') %}
                <tr>
                    <td>{{ transport.endDate|date('Y-m-d H:i') }}</td>
                    <td>{{ transport.cargo|capitalize }}</td>
                    <td>{{ transport.weight }} KG</td>
                    <td>{{ transport.distance }} KM</td>
                    <td><a href="{{ asset('screenshots/') }}{{ transport.screenshot }}" target="_blank">{% trans %}Open{% endtrans %}</a></td>
                    <td>{{ transport.startCity|capitalize }}</td>
                    <td>{{ transport.endCity|capitalize }}</td>
                    <td class="center aligned">
                        {% if transport.active == 0 %}
                            <a class="ui green horizontal large label" href="{{ path('app_transport_activate', {'id': transport.id}) }}"><i class="check circle icon"></i>{% trans %}Activate{% endtrans %}</a>
                        {% elseif transport.active == 1 %}
                            <a class="ui orange horizontal large label" href="{{ path('app_transport_deactivate', {'id': transport.id}) }}"><i class="minus circle icon"></i>{% trans %}Deactivate{% endtrans %}</a>
                        {% endif %}
                        <a class="ui red horizontal large label" href="{{ path('app_transport_delete', {'id': transport.id}) }}"><i class="remove circle icon"></i>{% trans %}Delete{% endtrans %}</a>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td>{{ transport.endDate|date('Y-m-d H:i') }}</td>
                    <td>{{ transport.cargo|capitalize }}</td>
                    <td>{{ transport.weight }} KG</td>
                    <td>{{ transport.distance }} KM</td>
                    <td>{{ transport.score }} PLN</td>
                    <td><a href="{{ asset('screenshots/') }}{{ transport.screenshot }}" target="_blank">{% trans %}Open{% endtrans %}</a></td>
                    <td>{{ transport.startCity|capitalize }}</td>
                    <td>{{ transport.endCity|capitalize }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}