{% extends "@App/base.html.twig" %}

{% block content %}
    <div class="ui center aligned segment">
        <div class="ui center aligned grid">
            <div class="ui six wide column">
                <h2 class="ui blue image header">
                    <img src="{{ asset('assets/images/logo.png') }}" class="image">
                    <div class="content">
                        {% trans %}Login to your account{% endtrans %}
                    </div>
                </h2>
                <form class="ui large form" action="{{ path('app_user_login') }}" method="POST">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{% trans %}Username{% endtrans %}">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" id="password" name="_password" placeholder="{% trans %}Password{% endtrans %}">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                        </div>
                        <div class="ui error message"></div>

                        {% if error %}
                            <div class="ui negative message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% for flash_message in app.session.flashBag.get('notice') %}
                            <div class="ui positive message">
                                {{ flash_message|trans }}
                            </div>
                        {% endfor %}

                        <input type="submit" class="ui fluid large blue submit button" value="{% trans %}Login{% endtrans %}">
                    </div>
                </form>
                <div class="ui info message">
                    {% trans %}Do you have a registration code{% endtrans %}? <a href="{{ path('app_user_register_verification') }}">{% trans %}Register now{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}